.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  .gap {
    padding: 0 15px;
  }
}

#header {
  .header {
    height: 170px;
    display: flex;

    .pr-video {
      a {
        display: block;
      }
    }
    .menu-box {
      flex-basis: 70%;
      border-bottom: 1px solid #dbdbdb;
      .logo-box {
        width: 100%;
        height: 110px;
        box-sizing: border-box;
        border-bottom: 1px solid #dbdbdb;

        a {
          display: block;
          width: 150px;
          margin: auto;

          img {
            display: block;
            width: 100%;
          }
        }
      }
      .gnb-box {
        height: 60px;
        ul {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          li {
            width: 20%;
            position: relative;
            text-align: center;
            &:nth-child(1),
            &:nth-child(6) {
              width: 18%;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5) {
              width: 15%;
            }
            a {
              display: block;
              width: 100%;
              color: #777;
              font-weight: bold;
              line-height: 60px;
              transition: all 0.3s;
            }
            &::after {
              content: "";
              position: absolute;
              width: 1px;
              height: 15px;
              background: #e5e5e5;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }

            &:last-child {
              &::after {
                display: none;
              }
            }
            &:hover {
              a {
                background: #66a6ff;
                color: #fff;
              }
              &::after {
                display: none;
              }
            }
          }
        }
        .sub-menu {
          position: absolute;
          top: 170px;
        }
      }
    }
    .right-box {
      width: 400px;
      flex-shrink: 0;
      .info-box {
        height: 55px;
        display: flex;
        background: url(../img/header_right_ad_bg.gif) no-repeat;
        background-size: cover;
        ul {
          width: 356px;
          .text-box {
            padding: 0 10px 0 20px;
            line-height: 55px;
            a {
              display: flex;
              background: url(../img/header_right_ad_icon_alarm.gif) no-repeat
                left center;
              font-size: 12px;

              .bar {
                flex-basis: 25%;
                color: #1572ba;
                position: relative;
                padding-left: 20px;

                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%);
                  width: 1px;
                  height: 10px;
                  background: #dbdbdb;
                }
              }
              .notice-text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 5px;
              }
            }
          }
        }

        .control-box {
          width: 44px;
          height: 100%;
          .up-btn {
            display: block;
            height: 50%;
            width: 100%;
            background: url(../img/upbtn.gif) no-repeat center;
          }
          .down-btn {
            display: block;
            height: 50%;
            width: 100%;
            background: url(../img/downbtn.gif) no-repeat center;
          }
        }
      }
      .sns-wrap {
        height: 55px;
        width: 100%;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        border-left: 1px solid #dbdbdb;
        .left-box {
          li {
            display: inline-block;
            vertical-align: top;
            &:first-child {
              padding-right: 10px;
            }
            a {
              display: block;
              font-size: 12px;
              padding-bottom: 2px;
              color: #777;
              transition: border 0.3s;

              &:hover {
                border-bottom: 1px solid #777;
              }
            }
          }
        }
        .sns-box {
          li {
            display: inline-block;
          }
        }
        .bar {
          position: relative;
          padding-left: 8px;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 10px;
            background: #dbdbdb;
          }
        }
      }
      .search-box {
        height: 60px;
        display: flex;
        border-bottom: 1px solid #dbdbdb;
        .menuBtn-wrap {
          width: 70px;
          border-right: 1px solid #dbdbdb;
          border-left: 1px solid #dbdbdb;
          .menu-btn {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;

            span {
              display: block;
              width: 25px;
              height: 3px;
              background: #000;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              &::before {
                content: "";
                display: block;
                width: 25px;
                height: 3px;
                background: #000;
                position: absolute;
                top: -8px;
              }
              &::after {
                content: "";
                display: block;
                width: 25px;
                height: 3px;
                background: #000;
                position: absolute;
                bottom: -8px;
              }
            }
          }
        }
        .serach {
          flex-grow: 1;
          a {
            display: block;
            padding: 20px;
            background: url(../img/icon_zoom.png) no-repeat 20px center;
            background-size: 25px;
            color: #1572ba;
            font-size: 15px;
            font-weight: 600;

            span {
              padding-left: 34px;
            }
          }
        }
      }
    }
  }
}
