@use "functions" as f;
@use "mixins" as m;
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  // font-size: f.pxtoem(36, f.$basepx); @function em
  // font-size: f.pxtorem(36, f.$basepx); @function rem
  // @include m.textEllipsis(36px, 2);
  .gap {
    padding: 0 15px;
  }
}

#header {
  position: relative;

  .header {
    height: 170px;
    display: flex;
    // position: relative;

    @media all and (max-width: 768px) {
      height: auto;
    }

    .pr-video {
      a {
        display: block;
      }

      @media all and (max-width: 1200px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        height: 110px;
        a,
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      @media all and (max-width: 768px) {
        width: 70px;
        height: 70px;
      }
    }
    .menu-box {
      flex-basis: 70%;
      flex-grow: 1;
      border-bottom: 1px solid #dbdbdb;

      @media all and (max-width: 768px) {
        border-right: 1px solid #dbdbdb;
      }
      @media all and (max-width: 576px) {
        border-right: none;
      }

      .logo-box {
        width: 100%;
        height: 110px;
        box-sizing: border-box;
        border-bottom: 1px solid #dbdbdb;

        @media all and (max-width: 1200px) {
          width: calc(100% - 130px);
          margin-left: auto;
        }
        @media all and (max-width: 990px) {
          padding-left: 90px;
        }

        @media all and (max-width: 768px) {
          width: calc(100% - 150px);
          margin: 0 auto;
          padding-left: 0;
          height: 70px;
          border-bottom: none;
        }
        a {
          display: block;
          width: 150px;
          margin: auto;
          @media all and (max-width: 768px) {
            width: 100px;
          }

          img {
            display: block;
            width: 100%;

            // @media all and (max-width: 1200px) {
            //   margin-left: 65px;
            // }
            // @media all and (max-width: 990px) {
            //   margin-left: 80%;
            // }
          }
        }
      }
      .gnb-box {
        height: 60px;
        @media all and (max-width: 576px) {
          display: none;
        }
        > ul {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          @media all and (max-width: 768px) {
            border-top: 1px solid #dbdbdb;
          }

          .gnb-wrap {
            width: 16.6666%;

            &:nth-child(6) {
              .gnb-btn {
                &::after {
                  display: none;
                }
              }
            }

            .gnb-btn {
              display: block;
              position: relative;
              width: 100%;
              color: #777;
              font-size: 15px;
              font-weight: bold;
              text-align: center;
              line-height: 60px;
              transition: all 0.3s;

              @media all and (max-width: 990px) {
                font-size: 13px;
              }
              &.active {
                background: #66a6ff;
                color: #fff;

                &::after {
                  display: none;
                }
              }
              &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 15px;
                background: #e5e5e5;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
              }

              &:hover {
                background: #66a6ff;
                color: #fff;

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }

      //sub menu
      .sub-menu {
        display: none;
        position: absolute;
        z-index: 99;
        top: 170px;
        left: 0;
        width: 100vw;
        background: #fff;

        @media all and (max-width: 768px) {
          top: 131px;
        }

        .gap {
          position: relative;
        }
        .close {
          position: absolute;
          top: 20px;
          right: 20px;

          @media all and (max-width: 990px) {
            top: 10px;
            right: 15px;
          }

          .close-btn {
            display: block;
            background: url(../img/header_btn_close.png) no-repeat;
            background-size: cover;
            width: 20px;
            height: 20px;
          }
        }
        .sub-content {
          display: flex;
          width: 70%;
          margin: 0 auto;
          padding: 45px 0;

          @media all and (max-width: 1200px) {
            width: 100%;
          }
          @media all and (max-width: 768px) {
            padding: 35px 0;
          }
          .title-box {
            width: 300px;
            @media all and (max-width: 990px) {
              width: 250px;
            }
            @media all and (max-width: 768px) {
              display: none;
            }

            .sub-title {
              margin: 0;
              font-weight: 400;
              font-size: 30px;
              @media all and (max-width: 990px) {
                font-size: 25px;
              }
            }
            p {
              margin: 15px 0 0 0;
              font-size: 14px;
              color: #777;
            }
            .img-box {
              margin-top: 25px;

              img {
                display: block;
              }
            }
          }
          .lnb-wrap {
            flex: 1 1 60%;

            > ul {
              &::after {
                display: block;
                content: "";
                clear: both;
              }
              > li {
                float: left;
                width: 33.333%;
                height: 60px;
                padding: 0 15px;
                @media all and (max-width: 768px) {
                  width: 50%;

                  &:nth-child(4) {
                    margin-bottom: 40px;
                  }
                }
                @media all and (max-width: 567px) {
                  height: auto;
                  &:nth-child(4) {
                    margin-bottom: 10px;
                  }
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                  margin-bottom: 50px;

                  @media all and (max-width: 768px) {
                    margin-bottom: 40px;
                  }
                  @media all and (max-width: 567px) {
                    margin-bottom: 10px;
                  }
                }
                .dep3 {
                  margin-top: 4px;
                  @media all and (max-width: 567px) {
                    display: none;
                  }
                  li {
                    a {
                      display: block;
                      background: url(../img/header_gnb_dep3_dot.gif) no-repeat left center;
                      padding-left: 10px;
                      font-size: 13px;
                      line-height: 150%;
                      color: #555;
                      transition: color 0.3s;

                      &:hover {
                        color: #fa71cd;
                      }
                    }
                  }
                }

                .lnb-title {
                  display: inline-block;
                  background: url(../img/header_gnb_menu_arrow.gif) no-repeat right top 2px;
                  padding: 0 15px 10px 0;
                  font-weight: 700;
                  color: #1572ba;
                  transition: color 0.3s, underline 0.3s;
                  @media all and (max-width: 567px) {
                    font-size: 14px;
                  }

                  &:hover {
                    color: #555;
                    text-decoration: underline;
                  }
                }
                p {
                  margin: 0;
                  font-size: 14px;
                  color: #777;

                  @media all and (max-width: 990px) {
                    font-size: 13px;
                  }
                  @media all and (max-width: 567px) {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .right-box {
      width: 400px;
      flex-shrink: 0;
      @media all and (max-width: 990px) {
        width: 200px;
        position: relative;
      }
      @media all and (max-width: 768px) {
        display: none;
        // width: 70px;
      }
      @media all and (max-width: 576px) {
        display: none;
      }
      .info-box {
        height: 55px;
        overflow: hidden;
        display: flex;
        background: url(../img/header_right_ad_bg.gif) no-repeat;
        background-size: cover;

        @media all and (max-width: 990px) {
          display: none;
        }
        ul {
          width: 356px;
          transform: translateY(0);
          transition: transform 0.5s;
          .text-box {
            padding: 0 10px 0 20px;
            line-height: 55px;
            a {
              display: flex;
              background: url(../img/header_right_ad_icon_alarm.gif) no-repeat left center;
              font-size: 12px;

              .bar {
                width: 72px;
                flex-shrink: 0;
                color: #1572ba;
                position: relative;
                padding-left: 20px;

                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%);
                  width: 1px;
                  height: 10px;
                  background: #dbdbdb;
                }
              }
              .notice-text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 5px;
              }
            }
          }
        }

        .control-box {
          width: 44px;
          height: 100%;

          button {
            outline: none;
            border: none;
            cursor: pointer;
          }
          .up-btn {
            display: block;
            height: 50%;
            width: 100%;
            background: url(../img/upbtn.gif) no-repeat center;
          }
          .down-btn {
            display: block;
            height: 50%;
            width: 100%;
            background: url(../img/downbtn.gif) no-repeat center;
          }
        }
      }
      .sns-wrap {
        height: 55px;
        width: 100%;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #dbdbdb;
        border-right: none;

        @media all and (max-width: 990px) {
          display: none;
        }
        .left-box {
          li {
            display: inline-block;
            vertical-align: top;

            a {
              display: block;
              font-size: 12px;
              padding-bottom: 2px;
              color: #777;
              transition: border 0.3s;

              &:hover {
                border-bottom: 1px solid #777;
              }
            }
          }
        }
        .sns-box {
          li {
            display: inline-block;
            vertical-align: top;

            &.bar {
              padding-left: 6px;
              &::before {
                top: 40%;
              }
            }
          }
        }
        .bar {
          position: relative;
          padding-left: 5px;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 44%;
            left: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 11px;
            background: #dbdbdb;
          }
        }
      }
      .search-box {
        height: 60px;
        display: flex;
        border-bottom: 1px solid #dbdbdb;

        @media all and (max-width: 990px) {
          display: block;
          width: 100%;
          height: 61px;
          position: absolute;
          bottom: 0;
          left: 0;
          border-left: 1px solid #dbdbdb;
          border-top: 1px solid #dbdbdb;
        }

        @media all and (max-width: 768px) {
          border-left: none;
        }
        @media all and (max-width: 576px) {
          top: 0;
        }

        .menuBtn-wrap {
          width: 70px;
          border-right: 1px solid #dbdbdb;
          border-left: 1px solid #dbdbdb;

          @media all and (max-width: 990px) {
            position: absolute;
            bottom: 60px;
            right: 0;
            width: 110px;
            height: 110px;
            border-right: none;
          }
          @media all and (max-width: 768px) {
            width: 100%;
            height: 70px;
            border-left: none;
          }
          .menu-btn {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;

            .ham {
              display: block;
              width: 25px;
              height: 3px;
              background: #000;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              @media all and (max-width: 990px) {
                width: 30px;
              }
              @media all and (max-width: 576px) {
                width: 20px;
              }

              &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: #000;
                position: absolute;
                top: -8px;
              }
              &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: #000;
                position: absolute;
                bottom: -8px;
              }
            }
          }
        }
        .search {
          flex-grow: 1;

          @media all and (max-width: 990px) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
          }
          @media all and (max-width: 768px) {
            width: 100%;
            height: 60px;
          }
          @media all and (max-width: 576px) {
            display: none;
          }
          .search-drop-btn {
            display: block;
            padding: 20px;
            background: url(../img/icon_zoom.png) no-repeat 20px center;
            background-size: 25px;
            color: #1572ba;
            font-size: 15px;
            font-weight: 600;

            @media all and (max-width: 990px) {
              font-size: 13px;
              background-size: 20px;
            }
            @media all and (max-width: 768px) {
              width: 100%;
              height: 100%;
              background-position: center center;
            }

            span {
              padding-left: 34px;
              @media all and (max-width: 990px) {
                padding-left: 25px;
              }
              @media all and (max-width: 768px) {
                display: none;
              }
            }
          }
        }
      }
    }
    .mobile-search-box {
      display: none;
      position: absolute;

      height: 70px;
      top: 0;
      right: 0;

      &::after {
        display: block;
        clear: both;
        content: "";
      }
      @media all and (max-width: 768px) {
        display: block;
      }
      .mobile-search-btn {
        display: block;
        position: relative;
        float: left;
        width: 40px;
        height: 100%;
        background: url(../img/btn_tablet_search.png) no-repeat center;
        background-size: 45px;
        border-left: 1px solid #dbdbdb;

        // &::after {
        //   display: block;
        //   content: "";
        //   position: absolute;
        //   top: 50%;
        //   right: 0;
        //   transform: translateY(-50%);
        //   width: 1px;
        //   height: 20px;
        //   background: #dbdbdb;
        // }
      }
      .mobile-menu-btn {
        display: block;
        float: left;
        position: relative;
        width: 40px;
        height: 100%;

        .ham {
          display: block;
          float: left;
          width: 25px;
          height: 3px;
          background: #000;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            top: -8px;
          }
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            bottom: -8px;
          }
        }
      }
    }
  }

  .dep2-search-box {
    display: none;
    z-index: 99;
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    background: #f1f2f8;

    @media all and (max-width: 768px) {
      top: 131px;
    }

    .dep2-search-content {
      display: flex;
      width: 85%;
      margin-left: auto;
      padding: 35px 0 55px 0;
      position: relative;

      @media all and (max-width: 1200px) {
        width: 100%;
      }

      .search-title-box {
        width: 330px;
        h2 {
          font-size: 30px;
          font-weight: normal;
        }
        p {
          font-size: 14px;
          color: #666666;
          line-height: 150%;
        }
      }
      .search-form-box {
        width: 35%;
        margin-right: 20px;
        h3 {
          font-size: 18px;
          font-weight: 700;
          color: #4b9bd9;
        }
        form {
          position: relative;
          input {
            width: 100%;
            height: 40px;
            padding: 0 55px 0 25px;
            border: 3px solid #4b9bd9;

            &:focus {
              outline: none;
            }
          }
          .button-wrap {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            width: 45px;
            height: 100%;
            background: url(../img/btn_tablet_search.png) no-repeat;
            background-size: contain;
            cursor: pointer;
          }
        }
      }
      .search-select-box {
        flex: 1;
        h3 {
          font-size: 18px;
          font-weight: 700;
          color: #4b9bd9;
        }
        .list-box {
          width: 330px;
          display: flex;
          justify-content: space-around;
          margin-bottom: 15px;
          li {
            width: 33.333%;
            text-align: center;

            &:last-child {
              margin-right: 0;
            }

            .type-list {
              display: block;
              padding: 15px 0;
              background: #9ac7ea;
              color: #2d75ad;

              &.list-on {
                background: #4b9bd9;
                color: #fff;
              }
            }
          }
        }
        .select-box {
          width: 100%;
          height: 45px;
          position: relative;
          select {
            width: 100%;
            height: 100%;
            background: url(../img/header_search_input_1_bg.gif) no-repeat;
            background-size: contain;
            appearance: none;
            padding: 0 15px;
            color: #4b9bd9;
          }
        }
      }
      .search-close {
        position: absolute;
        top: 10px;
        right: 0px;

        .search-close-btn {
          display: block;
          background: url(../img/header_btn_close.png) no-repeat;
          background-size: cover;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .drop-menu {
    display: none;
    position: absolute;
    z-index: 99;
    top: 170px;
    left: 0;
    width: 100%;
    background: #fff;

    @media all and (max-width: 768px) {
      top: 131px;
    }

    .drop-content {
      max-width: 1400px;
      width: 100%;
      margin: 0 auto;

      .drop-gap {
        padding: 50px 0 30px 0;
        position: relative;

        .drop-close {
          position: absolute;
          top: 20px;
          right: 20px;

          .drop-close-btn {
            display: block;
            background: url(../img/header_btn_close.png) no-repeat;
            background-size: cover;
            width: 20px;
            height: 20px;
          }
        }

        .drop-nav {
          width: 80%;
          margin: 0 auto;

          .drop-dep1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .drop-gnb-list {
              width: 140px;
              margin: 0 10px;
              .drop-gnb {
                display: block;
                height: 100px;

                @for $i from 1 through 7 {
                  &.nth#{$i} {
                    background: url(../img/header_fullmenu_title_0#{$i}.gif) no-repeat center top;
                  }
                }
              }
              .drop-dep2 {
                padding-left: 10px;
                > li {
                  > a {
                    display: block;
                    width: 150px;
                    padding: 7px 10px;
                    font-size: 13px;
                    color: #333333;
                    font-weight: 700;

                    background-size: cover;

                    &.custom_lnb {
                      background-size: contain;
                      line-height: 120%;
                    }

                    &:hover {
                      background: url(../img/header_fullmenu_dep2_bg.gif) no-repeat left center;
                      color: #fff;
                    }
                  }
                }
              }
              .drop-dep3 {
                li {
                  a {
                    display: block;
                    font-size: 13px;
                    color: #888888;
                    padding: 3px 10px;
                    transition: color 0.2s;

                    &:hover {
                      color: #66a6ff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .mobile-notice {
    display: none;
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    background: #f1f2f8;
    border-bottom: 1px solid #dbdbdb;
    @media all and (max-width: 990px) {
      display: block;
    }
    @media all and (max-width: 768px) {
      top: 130px;
    }
    @media all and (max-width: 576px) {
      top: 70px;
    }

    .mobile-info-box {
      height: 50px;
      overflow: hidden;

      &::after {
        display: block;
        content: "";
        clear: both;
      }

      ul {
        float: left;
        width: 85%;
        .text-box {
          padding: 0 10px 0 20px;
          line-height: 50px;
          a {
            display: flex;
            background: url(../img/header_right_ad_icon_alarm.gif) no-repeat left center;
            font-size: 12px;

            .bar {
              width: 72px;
              flex-shrink: 0;
              color: #1572ba;
              position: relative;
              padding: 0 5px 0 20px;

              &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 10px;
                background: #dbdbdb;
              }
            }
            .notice-text {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-left: 5px;
            }
          }
        }
      }

      .control-box {
        float: right;
        width: 44px;
        height: 100%;
        background: url(../img/bg_notice_box.gif) no-repeat;
        button {
          cursor: pointer;
        }
        .up-btn {
          display: block;
          height: 50%;
          width: 100%;
          background: url(../img/upbtn.gif) no-repeat center;
        }
        .down-btn {
          display: block;
          height: 50%;
          width: 100%;
          background: url(../img/downbtn.gif) no-repeat center;
        }
      }
    }
  }
  .mobile-lnb-wrap {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(#000, 0.7);
    transition: transform 1s;
    transform: translateX(100%);
    opacity: 0;

    &.mobile-show {
      @media all and (max-width: 768px) {
        transform: translateX(0);
        opacity: 1;
      }
    }
    .mobile-lnb-menu {
      display: flex;
      width: 80%;
      height: 100vh;
      margin-left: auto;

      .left-icon-box {
        width: 100px;
        height: 100%;
        background: #f1f2f8;

        ul {
          li {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid #dbdbdb;

            &:last-child {
              border-bottom: none;
            }

            .mobile-icon {
              display: block;
              width: 100%;
              padding: 15px 0;
              font-size: 12px;

              &::before {
                display: block;
                content: "";
                width: 25px;
                height: 25px;
                margin: 0 auto;
                background: url(../img/icon_aside.png) no-repeat;
                background-size: 200px 50px;
                background-position: -150px -5px;
              }
              &.micon0 {
                &::before {
                  background-position: 0 -5px;
                }
              }

              &.micon1 {
                &::before {
                  background-position: -150px -5px;
                }
              }
              &.micon2 {
                &::before {
                  background-position: -50px -5px;
                }
              }
              &.micon3 {
                &::before {
                  background-position: -75px -5px;
                }
              }

              &.micon4 {
                &::before {
                  background-position: -100px -5px;
                }
              }
              &.micon5 {
                &::before {
                  background-position: -125px -5px;
                }
              }
              &.micon6 {
                &::before {
                  background-position: -25px -5px;
                }
              }
              &.micon7 {
                &::before {
                  background-position: -175px -5px;
                }
              }

              span {
                display: block;
                text-align: center;
                margin-top: 5px;

                &.ir_pm {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
      .right-lnb-box {
        width: calc(100% - 100px);
        overflow-y: scroll;
        background: #fff;
        position: relative;

        .right-lnb-gap {
          padding: 10px 0 0 30px;

          .right-lnb-sns {
            margin-bottom: 15px;
            li {
              display: inline-block;
              position: relative;
              padding-right: 10px;

              &:nth-child(2) {
                padding-left: 4px;
              }

              &.bar::after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                top: 48%;
                transform: translateY(-50%);
                width: 1px;
                height: 19px;
                background: #777;
              }
              a {
                display: block;
                width: 34px;
                height: auto;

                img {
                  display: block;
                  width: 100%;
                }
              }
            }
          }
          .right-lnb-menu {
            > ul {
              > li {
                margin-bottom: 40px;
                h3 {
                  display: block;
                  width: 100%;
                  padding-bottom: 5px;
                  margin: 0;
                  border-bottom: 2px solid #dbdbdb;
                  font-size: 18px;
                  font-weight: 600;
                }
                .mobile-submenu {
                  width: 100%;
                  .msub-lnb {
                    width: 95%;
                    margin-left: auto;
                    a {
                      display: block;
                      padding: 12px 0;
                      font-size: 12px;
                      font-weight: 600;
                      color: #666666;
                      border-bottom: 1px solid #dbdbdb;
                    }
                    .mobile-dep3menu {
                      a {
                        font-weight: normal;
                      }
                    }
                  }
                }
              }
            }
          }
          .mobile-lnb-close {
            position: fixed;
            top: 10px;
            right: 25px;
            width: 20px;
            height: 20px;
            .mobile-lnb-close-btn {
              display: block;
              width: 100%;
              height: 100%;
              background: url(../img/header_btn_close.png) no-repeat;
            }
          }
        }
      }
    }
  }
  .mobile-search-menu {
    z-index: 99;
    position: absolute;
    top: 131px;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    transition: top 1s;

    @media all and (max-width: 567px) {
      top: 71px;
    }
    .msearch-title-box {
      width: 100%;
      text-align: center;
      background: #4b9bd9;
      padding: 15px 0;
      h3 {
        margin: 0;
        color: #ffff;
      }
    }

    .msearch-gap {
      padding: 15px 15px 30px 15px;
      position: relative;

      .top-search-box {
        h3 {
          margin-top: 0;
          color: #4b9bd9;
          font-size: 18px;
        }
        .form-box {
          width: 100%;
          position: relative;

          input {
            width: 100%;
            padding: 10px 45px 10px 10px;
            border: 3px solid #4b9bd9;

            &:focus {
              outline: none;
            }
          }
          .button-box {
            z-index: 2;
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 0;
            width: 30px;
            height: 100%;
            background: url(../img/icon_zoom.png) no-repeat center;
            background-size: 25px 25px;

            button {
              cursor: pointer;
              background: transparent;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .bottom-type-box {
        margin-top: 20px;
        h3 {
          margin-top: 0;
          color: #4b9bd9;
          font-size: 18px;
        }
        .type-box {
          width: 100%;
          height: auto;
          border: 1px solid #4b9bd9;
          > ul {
            > li {
              border-bottom: 1px solid #4b9bd9;

              &:last-child {
                border-bottom: none;
              }

              .type-btn {
                display: block;
                padding: 10px 16px;
                color: #4b9bd9;
                position: relative;
                transition: color 0.3s;

                &:hover {
                  color: #642525;
                }

                &.active {
                  .more-btn-wrap {
                    .more-btn {
                      &.bar2 {
                        opacity: 0;
                      }
                    }
                  }
                }

                .more-btn-wrap {
                  display: block;
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  transform: translate(0, -50%);
                  width: 20px;
                  height: 20px;
                  background: transparent;
                  cursor: pointer;

                  .more-btn {
                    display: block;
                    background: #4b9bd9;
                    position: absolute;
                    &.bar1 {
                      width: 100%;
                      height: 1px;
                      top: 50%;
                      left: 0;
                    }
                    &.bar2 {
                      width: 1px;
                      height: 100%;
                      transform: rotate(180deg);
                      top: 0;
                      left: 50%;
                      opacity: 1;
                    }
                  }
                }
              }
              .type-list-box {
                display: none;
                width: 100%;
                background: #dbeaf5;

                ul {
                  width: 100%;
                  &:after {
                    display: block;
                    content: "";
                    clear: both;
                  }
                  li {
                    float: left;
                    width: 50%;
                    border-top: 1px solid #4b9bd9;

                    &:nth-child(odd) {
                      border-right: 1px solid #4b9bd9;
                    }
                    a {
                      display: block;
                      padding: 15px;
                      color: #4b9bd9;
                      font-size: 13px;
                      transition: color 0.3s;

                      &:hover {
                        color: #642525;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .close-btn-box {
        position: absolute;
        top: 10px;
        right: 10px;
        .mobile-search-close-btn {
          display: block;
          background: url(../img/header_btn_close.png) no-repeat;
          background-size: cover;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

#main {
  width: 100%;
  height: 600px;
  background: rgba(#000, 0.6);
}
