.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  .gap {
    padding: 0 15px;
  }
}

#header {
  position: relative;
  .header {
    height: 170px;
    display: flex;

    .pr-video {
      a {
        display: block;
      }

      @media all and (max-width: 1200px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        height: 110px;
        a,
        img {
          display: block;
          width: 100%;
          height: 100%;
          margin-left: -1px;
        }
      }
    }
    .menu-box {
      flex-basis: 70%;
      flex-grow: 1;
      border-bottom: 1px solid #dbdbdb;
      .logo-box {
        width: 100%;
        height: 110px;
        box-sizing: border-box;
        border-bottom: 1px solid #dbdbdb;

        @media all and (max-width: 1200px) {
          width: calc(100% - 130px);
          margin-left: auto;
        }
        a {
          display: block;
          width: 150px;
          margin: auto;

          img {
            display: block;
            width: 100%;

            // @media all and (max-width: 1200px) {
            //   margin-left: 65px;
            // }
            // @media all and (max-width: 990px) {
            //   margin-left: 80%;
            // }
          }
        }
      }
      .gnb-box {
        height: 60px;
        > ul {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .gnb-wrap {
            width: 16.6666%;

            &:nth-child(6) {
              .gnb-btn {
                &::after {
                  display: none;
                }
              }
            }

            .gnb-btn {
              display: block;
              position: relative;
              width: 100%;
              color: #777;
              font-size: 15px;
              font-weight: bold;
              text-align: center;
              line-height: 60px;
              transition: all 0.3s;

              @media all and (max-width: 990px) {
                font-size: 13px;
              }
              &.active {
                background: #66a6ff;
                color: #fff;

                &::after {
                  display: none;
                }
              }
              &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 15px;
                background: #e5e5e5;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
              }

              &:hover {
                background: #66a6ff;
                color: #fff;

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }

      //sub menu
      .sub-menu {
        position: absolute;
        top: 170px;
        left: 0;
        width: 100vw;
        background: rgba(#f0f0f0, 0.5);

        &.dep2-1 {
          display: none;
        }
        &.dep2-2 {
          display: none;
        }
        &.dep2-3 {
          display: none;
        }
        &.dep2-4 {
          display: none;
        }
        &.dep2-5 {
          display: none;
        }
        &.dep2-6 {
          display: none;
        }
        .gap {
          position: relative;
        }
        .close {
          position: absolute;
          top: 20px;
          right: 20px;

          .close-btn {
            display: block;
            background: url(../img/header_btn_close.png) no-repeat;
            background-size: cover;
            width: 20px;
            height: 20px;
          }
        }
        .sub-content {
          display: flex;
          width: 70%;
          margin: auto;
          padding: 45px 0;
          .title-box {
            width: 300px;
            .sub-title {
              margin: 0;
              font-weight: 400;
              font-size: 30px;
            }
            p {
              margin: 15px 0 0 0;
              font-size: 14px;
              color: #777;
            }
            .img-box {
              margin-top: 25px;

              img {
                display: block;
              }
            }
          }
          .lnb-wrap {
            flex: 1 1 60%;

            > ul {
              &::after {
                display: block;
                content: "";
                clear: both;
              }
              > li {
                float: left;
                width: 33.333%;
                height: 60px;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                  margin-bottom: 50px;
                }
                .dep3 {
                  margin-top: 4px;
                  li {
                    a {
                      display: block;
                      background: url(../img/header_gnb_dep3_dot.gif) no-repeat left center;
                      padding-left: 10px;
                      font-size: 13px;
                      line-height: 150%;
                      color: #555;
                      transition: color 0.3s;

                      &:hover {
                        color: #fa71cd;
                      }
                    }
                  }
                }

                .lnb-title {
                  display: inline-block;
                  background: url(../img/header_gnb_menu_arrow.gif) no-repeat right top 2px;
                  padding: 0 15px 10px 0;
                  font-weight: 700;
                  color: #1572ba;
                  transition: color 0.3s, underline 0.3s;

                  &:hover {
                    color: #555;
                    text-decoration: underline;
                  }
                }
                p {
                  margin: 0;
                  font-size: 14px;
                  color: #777;
                }
              }
            }
          }
        }
      }
    }
    .right-box {
      @media all and (max-width: 990px) {
        width: 200px;
        position: relative;
      }
      @media all and (max-width: 768px) {
        width: 0;
      }
      width: 400px;
      flex-shrink: 0;
      .info-box {
        height: 55px;
        display: flex;
        background: url(../img/header_right_ad_bg.gif) no-repeat;
        background-size: cover;

        @media all and (max-width: 990px) {
          display: none;
        }
        ul {
          width: 356px;
          .text-box {
            padding: 0 10px 0 20px;
            line-height: 55px;
            a {
              display: flex;
              background: url(../img/header_right_ad_icon_alarm.gif) no-repeat left center;
              font-size: 12px;

              .bar {
                flex-basis: 25%;
                color: #1572ba;
                position: relative;
                padding-left: 20px;

                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%);
                  width: 1px;
                  height: 10px;
                  background: #dbdbdb;
                }
              }
              .notice-text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 5px;
              }
            }
          }
        }

        .control-box {
          width: 44px;
          height: 100%;

          button {
            outline: none;
            border: none;
            cursor: pointer;
          }
          .up-btn {
            display: block;
            height: 50%;
            width: 100%;
            background: url(../img/upbtn.gif) no-repeat center;
          }
          .down-btn {
            display: block;
            height: 50%;
            width: 100%;
            background: url(../img/downbtn.gif) no-repeat center;
          }
        }
      }
      .sns-wrap {
        height: 55px;
        width: 100%;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #dbdbdb;
        border-right: none;

        @media all and (max-width: 990px) {
          display: none;
        }
        .left-box {
          li {
            display: inline-block;
            vertical-align: top;

            a {
              display: block;
              font-size: 12px;
              padding-bottom: 2px;
              color: #777;
              transition: border 0.3s;

              &:hover {
                border-bottom: 1px solid #777;
              }
            }
          }
        }
        .sns-box {
          li {
            display: inline-block;
            vertical-align: top;

            &.bar {
              padding-left: 6px;
              &::before {
                top: 40%;
              }
            }
          }
        }
        .bar {
          position: relative;
          padding-left: 5px;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 44%;
            left: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 11px;
            background: #dbdbdb;
          }
        }
      }
      .search-box {
        height: 60px;
        display: flex;
        border-bottom: 1px solid #dbdbdb;

        @media all and (max-width: 990px) {
          display: block;
          width: 100%;
          height: 61px;
          position: absolute;
          bottom: 0;
          left: 0;
          border-left: 1px solid #dbdbdb;
          border-top: 1px solid #dbdbdb;
        }
        .menuBtn-wrap {
          width: 70px;
          border-right: 1px solid #dbdbdb;
          border-left: 1px solid #dbdbdb;

          @media all and (max-width: 990px) {
            position: absolute;
            bottom: 60px;
            right: -1px;
            width: 110px;
            height: 110px;
          }
          .menu-btn {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;

            .ham {
              display: block;
              width: 25px;
              height: 3px;
              background: #000;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              @media all and (max-width: 990px) {
                width: 30px;
              }

              &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: #000;
                position: absolute;
                top: -8px;
              }
              &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: #000;
                position: absolute;
                bottom: -8px;
              }
            }
          }
        }
        .search {
          flex-grow: 1;

          @media all and (max-width: 990px) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
          }
          .search-drop-btn {
            display: block;
            padding: 20px;
            background: url(../img/icon_zoom.png) no-repeat 20px center;
            background-size: 25px;
            color: #1572ba;
            font-size: 15px;
            font-weight: 600;

            @media all and (max-width: 990px) {
              font-size: 13px;
              background-size: 20px;
            }

            span {
              padding-left: 34px;
              @media all and (max-width: 990px) {
                padding-left: 25px;
              }
            }
          }
          .dep2-search-box {
            display: none;
            position: absolute;
            top: 170px;
            left: 0;
            width: 100%;
            background: rgba(#f0f0f0, 0.8);
            .dep2-search-content {
              display: flex;
              width: 85%;
              margin-left: auto;
              padding: 35px 0 55px 0;
              position: relative;

              .search-title-box {
                width: 330px;
                h2 {
                  font-size: 30px;
                  font-weight: normal;
                }
                p {
                  font-size: 14px;
                  color: #666666;
                  line-height: 150%;
                }
              }
              .search-form-box {
                width: 35%;
                margin-right: 50px;
                h3 {
                  font-size: 18px;
                  font-weight: 700;
                  color: #4b9bd9;
                }
                form {
                  position: relative;
                  input {
                    width: 100%;
                    height: 40px;
                    padding: 0 55px 0 25px;
                    border: 3px solid #4b9bd9;

                    &:focus {
                      outline: none;
                    }
                  }
                  .button-wrap {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 45px;
                    height: 100%;
                    background: url(../img/btn_tablet_search.png) no-repeat;
                    background-size: contain;
                    cursor: pointer;
                  }
                }
              }
              .search-select-box {
                flex: 1;
                h3 {
                  font-size: 18px;
                  font-weight: 700;
                  color: #4b9bd9;
                }
                .list-box {
                  width: 330px;
                  display: flex;
                  justify-content: space-around;
                  margin-bottom: 15px;
                  li {
                    width: 33.333%;
                    text-align: center;

                    &:last-child {
                      margin-right: 0;
                    }

                    .type-list {
                      display: block;
                      padding: 15px 0;
                      background: #9ac7ea;
                      color: #2d75ad;

                      &.list-on {
                        background: #4b9bd9;
                        color: #fff;
                      }
                    }
                  }
                }
                .select-box {
                  width: 100%;
                  height: 45px;
                  background: url(../img/header_search_input_1_bg.gif) no-repeat;
                  position: relative;
                  label {
                    position: absolute;
                    top: 0;
                    left: 0;

                    line-height: 45px;
                    padding-left: 25px;
                    color: #4b9bd9;
                  }
                  select {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #4b9bd9;
                    opacity: 0;
                    padding: 0 15px;
                  }
                }
              }
              .search-close {
                position: absolute;
                top: 20px;
                right: 20px;

                .search-close-btn {
                  display: block;
                  background: url(../img/header_btn_close.png) no-repeat;
                  background-size: cover;
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  .drop-menu {
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    display: none;

    .drop-content {
      max-width: 1400px;
      width: 100%;
      margin: 0 auto;

      .drop-gap {
        padding: 50px 0 30px 0;
        position: relative;

        .drop-close {
          position: absolute;
          top: 20px;
          right: 20px;

          .drop-close-btn {
            display: block;
            background: url(../img/header_btn_close.png) no-repeat;
            background-size: cover;
            width: 20px;
            height: 20px;
          }
        }

        .drop-nav {
          background: #fff;
          width: 75%;
          margin: 0 auto;

          .drop-dep1 {
            display: flex;

            .drop-gnb-list {
              width: 150px;
              .drop-gnb {
                display: block;
                height: 100px;

                @for $i from 1 through 7 {
                  &.nth#{$i} {
                    background: url(../img/header_fullmenu_title_0#{$i}.gif) no-repeat center top;
                  }
                }
              }
              .drop-dep2 {
                > li {
                  > a {
                    display: block;
                    width: 150px;
                    padding: 7px 10px;
                    font-size: 13px;
                    color: #333333;
                    font-weight: 700;

                    background-size: cover;

                    &.custom_lnb {
                      background-size: contain;
                      line-height: 120%;
                    }

                    &:hover {
                      background: url(../img/header_fullmenu_dep2_bg.gif) no-repeat left center;
                      color: #fff;
                    }
                  }
                }
              }
              .drop-dep3 {
                li {
                  a {
                    display: block;
                    font-size: 13px;
                    color: #888888;
                    padding: 3px 10px;
                    transition: color 0.2s;

                    &:hover {
                      color: #66a6ff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .mobile-notice {
    @media all and (max-width: 990px) {
      display: block;
    }
    display: none;
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;

    background: #f1f2f8;
    border-bottom: 1px solid #dbdbdb;

    .mobile-info-box {
      display: flex;
      height: 50px;

      ul {
        flex-grow: 1;
        .text-box {
          padding: 0 10px 0 20px;
          line-height: 50px;
          a {
            display: flex;
            background: url(../img/header_right_ad_icon_alarm.gif) no-repeat left center;
            font-size: 12px;

            .bar {
              color: #1572ba;
              position: relative;
              padding: 0 5px 0 20px;

              &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 10px;
                background: #dbdbdb;
              }
            }
            .notice-text {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-left: 5px;
            }
          }
        }
      }

      .control-box {
        width: 44px;
        height: 100%;
        background: url(../img/bg_notice_box.gif) no-repeat;
        button {
          cursor: pointer;
        }
        .up-btn {
          display: block;
          height: 50%;
          width: 100%;
          background: url(../img/upbtn.gif) no-repeat center;
        }
        .down-btn {
          display: block;
          height: 50%;
          width: 100%;
          background: url(../img/downbtn.gif) no-repeat center;
        }
      }
    }
  }
}
